@model IEnumerable<ToDoAndReminderApp.Models.ToDoTask>

@{
    ViewData["Title"] = "Task List";
}

<h2>Task List</h2>

<p>
    <b>Date: @DateTime.Today.ToString("D")</b><br />
    <b>Time: @DateTime.Now.ToString("t")</b>
    <br />
    <br />
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Task
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsTaskDone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TaskTitle)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ToDoTaskID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ToDoTaskID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ToDoTaskID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
